################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RChartClient/.vs/RChartClient
/RChartServer/.vs/RChartServer
/RChartServer/RChartServer/bin/
/RChartClient/RChartClient/bin/
/RChartServer/RChartServer/obj/
/RChartClient/RChartClient/obj/
